{
    "presets": ["env", "react", "stage-2"],
    "env": {
        // "targets": {
        //     "browsers": ["last 4 versions"]					
        // },
        "production": {
            "presets": ["react-optimize"]
        }
    }
}
  