
.footer {
    margin: 56vh 0 0;

    &__title {
        color: @dimgrey;
        font-size: @footer-font-size;
        text-align: center;
        padding-top: 1vmin;

        padding-top: 3px;
    }
}