
.user-table-form {
    padding: 10px;
    display: flex;

    &__name {
        width: 17%;
    }
    &__page {
        width: 34%;
    }
    &__email {
        width: 29%;
    }
    &__group {
        width: 5%;
    }
    &__phone {
        // width: 10%;
    }

    &_darkened {
        background: @lightgrey;
    }
}