
.user-card-form {
    width: 100%;
    padding: 10px;
    display: flex;
    background: @lightgrey;

    &__name {
        width: 10%
    }
    &__group {
        width: 10%
    }
    &__phone {
        width: 10%
    }
    &__img {
        //
    }
}