/* Colors */

@main-background-color: @seagreen;

@lightgrey: #d3d3d3;
@greygreen: #5d9998;
@navajowhite: #a38d6b;
@lightgreyblue: #7099a0;
@darkslategrey: #2f4f4f;
@grey: #808080;
@lightgrey: #d3d3d3;
@black: #000000;
@white: #ffffff;

@grey: #808080;
@mintcream: #f5fffa;
@navajowhite: #a38d6b;
@seagreen: #2E8B57;

@dimgrey: #696969;
@blue: #128195;
@greyblue: #146473;
@darkgreyblue: #020606;
@snowwhite: #e7efcc;
@greysnowwhite: #c7ceb1;
@blueviolet: #8a2be2;
@lightblueviolet: #b877f5;
@lightyellow: #ffdd7d;
@orangegrey: #bca169;
@violetgrey: #395b73;
@darkseagreen: #2a4c4f;
@orangered: #e4782a;

@font-family: -webkit-pictograph;

@body-font-size: 16px;

@header-note-font-size: 14px;
@footer-font-size: 10px;

//@screen-lg: 1500px;
@screen-ll: 1024px;
@screen-lg: 715px;    //768px;
@screen-md: 425px;
@screen-sm: 380px;

// @screen-sm: 320px;
